.OTP-component {
    display: grid;
    grid-template-columns: 50vw 50vw;
    height: 100%;
    position: relative;
  }

/* LEFT LAYOUT */
.left-layout{
    background-image: url(../../../../assets/side_bg.png);
    align-items: end;

}

.cash2go-container{
    display: flex;
    align-items: center;
    bottom: 50px;
    gap: 50px;
    position: absolute; 
    margin-left: 200px;  
}

.cash2go-image{
    display: flex;
    align-items: center;
    gap:10px;
}

.steps{
    display: flex;
    gap:15px;
    color: white;
    font-size: 12px;
}

.step-details{
    margin-bottom: 30px;
    line-height: 20px;
}

.step-list{
    font-size: 14px;
}
/* otp */
.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.input-container{
    border: 1px solid #DFDEDE;
    border-radius: 4px;
    background-color: #DFDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 260px;
}

.otp-field{
    border: 1px solid #DFDEDE;
    width: 40px;
    height: 49px;
    margin-left: 10px;
    margin-right: 10px;
}

.otp-field:focus{
    border: 1px solid #00BEB2;
}

.enter-otp{
    font-size: 20px;
    font-weight: bold;
    margin-left: 80px;
    padding-top: 30px;
    padding-bottom: 20px;
}

p{
    font-size: 12px;
    margin-left: 10px;
}

.click-here{
    margin-left: 70px;
}

.button{
    display:flex;
    gap: 10px;
    width:250px;
    padding-top: 20px;
}
button{
    height: 30px;
    width: 145px;
    border-radius: 4px;
    color: white;
    background-color: rgb(0, 28, 107);
}

.tandc-container{
    display: flex;
    gap: 10px;
    padding-top: 100px;
    color:rgb(83, 83, 121);
    margin-left: 40px;
}
.here{
    font-weight: bold;
}

