/* BREADCRUMBS COMPONENT */

.breadCrumbs_wrapper {
  margin-top: 10px;
  width: 902px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadCrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadCrumbs .crumb::after {
  content: ">";
  color: #5f6d7e;
  margin-left: 10px;
}

.breadCrumbs .crumb:last-child:after {
  display: none;
}

.breadCrumbs .crumb a {
  font-size: 14px;
  color: #5f6d7e;
}

.breadCrumbs .crumb a:hover {
  text-decoration: underline;
}

.breadCrumbs_previousLink {
  display: flex;
  align-items: end;
  gap: 4px;
  font-size: 14px;
  color: #5f6d7e;
}

.breadCrumbs_previousLink:hover {
  text-decoration: underline;
}
