/* FORM COMPONENT */

.hide,
.offscreen {
  display: none;
}

.form-wrapper {
  margin: auto;
}

.title {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  color: #172233;
  margin-bottom: 20px;
}

.sub-title {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #172233;
  margin-bottom: 10px;
}

label {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #5f6d7e;
  margin-bottom: 5px;
}

.form-field {
  position: relative;
}

input {
  display: block;
  width: 350px;
  height: 46px;
  border: 1px solid rgb(235, 232, 232);
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(236, 245, 248);
  transition: border-color 0.3s ease;
  outline: none;
}

select {
  display: block;
  width: 380px;
  height: 46px;
  border: 1px solid rgb(235, 232, 232);
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(236, 245, 248);
  transition: border-color 0.3s ease;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #5f6d7e;
}

option {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #5f6d7e;
}

input:focus {
  border: 2px solid rgb(179, 179, 247);
}

select:focus {
  border: 2px solid rgb(179, 179, 247);
}

input::placeholder {
  color: lightgrey;
}

.verification-instruction {
  text-align: center;
  margin-bottom: 25px;
}

.instruction {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #5f6d7e;
  margin-top: 10px;
}

.user_email-wrapper,
.user_password-wrapper,
.user_companyID-wrapper,
.user_question-wrapper,
.user_answer-wrapper,
.form-field-wrapper {
  margin-bottom: 25px;
}

.link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* error-messages */

.error-message-wrapper {
  position: absolute;
  bottom: 10%;
  text-align: center;
}

.error-message {
  width: 380px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: red;
  padding: 2px;
}

.error {
  border: 1px solid red;
}

/* ARROW RIGHT COMPONENT */

.arrow-right {
  width: 22px;
  height: 22px;
  color: #f8f9fb;
}

/* BUTTON COMPONENT */

.button-wrapper {
  width: 380px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  gap: 12px;
  background: #172233;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
}

/* .button-wrapper:disabled {
  background: #afc0db;
  border: #afc0db;
} */

.button-wrapper:hover {
  cursor: pointer;
}

.button-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #f8f9fb;
}

/* LEFT LOGIN LAYOUT COMPONENT */

.layout-component {
  display: grid;
  grid-template-columns: 50dvw 50dvw;
  height: 100dvh;
  position: relative;
}

.background {
  height: 100dvh;
  background-image: url(../../../assets/side_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* LEGAL COMPONENT */

.legal-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.legal {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}

.legal:hover {
  text-decoration: underline;
}

/* CASH2GO COMPONENT */

.alt.cash2go-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  left: 12%;
  bottom: 20%;
}

.cash2go-logo1 {
  width: 38px;
  height: 38px;
}

.cash2go-logo2 {
  width: 120px;
  height: 120px;
}

/* STEP COMPONENT */

.step-container {
  position: absolute;
  left: 28%;
  bottom: 8%;
}

.step {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.step-number {
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin-bottom: 3px;
}

.step-instruction {
  font-size: 10px;
  font-weight: 200;
  color: white;
}

/* MODAL COMPONENT */

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 735px;
  height: 227px;
  padding: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9ebf1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.notice-icon {
  width: 40px;
  height: 40px;
  color: rgb(100, 98, 98);
  margin-bottom: 10px;
}

.modal-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-message {
  text-align: center;
  margin-bottom: 2px;
}

.continue-button {
  background-color: #ff5e00;
  color: #292828;
  margin-top: 15px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 12px;
  font-weight: 600;
}

.continue-button:hover {
  background-color: #0056b3;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  fill: #fd3d39;
  background-color: transparent;
}

/* ICON COMPONENT */

.field-icon {
  position: absolute;
  right: 0;
  bottom: 15%;
  margin: 8px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #5f6d7e;
}

.wrong.icon {
  fill: red;
}

.right.icon {
  fill: green;
}

/* OTP COMPONENT */

.otp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otp-wrapper {
  border: 1px solid #dfdede;
  border-radius: 4px;
  background-color: #dfdede;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 350px;
  position: relative;
}

.otp-field {
  width: 58px;
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #dfdede;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #b2adad;
}

.error {
  border: 1px solid red;
}

.otp-field:focus {
  border: 1px solid rgb(179, 179, 247);
}
