/* DASHBOARD CONTENT */

.dashboard-content {
  position: relative;
  margin: 7% 7% 7% 23%;
}

/* SIDEBAR COMPONENT */

.test {
  border: 1px solid black;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 19.9%;
  background-color: #172233;
  color: #a2a7ad;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-cash2go-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  gap: 8px;
  padding: 24px 24px 0;
}

.sidebar-icon-wrapper {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 24px;
  gap: 10px;
  cursor: pointer;
}

.cash2go-logo3 {
  width: 30px;
  height: 30px;
}

.cash2go-logo4 {
  width: 80px;
  height: 18px;
}

.sidebar-icon {
  width: 22px;
  height: 22px;
}

.sidebar-navigation {
  font-size: 13px;
  font-weight: 500;
}

.sidebar-bottom-wrapper {
  margin: 32px 0 80px;
  padding-top: 24px;
  border-top: 1px solid #a2a7ad4d;
  width: 100%;
}

/* NAVBAR COMPONENT */

.navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 70px;
  background: #172233;
  color: #a2a7ad;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar {
  padding-left: 32px;
}

.searchbar-wrapper {
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: white;
  border-radius: 6px;
}

.searchbar-icon {
  width: 20px;
  height: 20px;
}

.navbar-search {
  width: 156px;
  height: 20px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  color: #5f6d7e;
}

.right-navbar {
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.right-navbar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.navbar-icon1 {
  width: 25px;
  height: 25px;
}

.navbar-icon2 {
  width: 30px;
  height: 30px;
}

.user {
  font-weight: 500;
  font-size: 14px;
  padding: 1px;
}

/* DASHBOARD OVERVIEW COMPONENT */

/* .dashboard-overview-wrapper {
  padding: 16px 20px;
} */

.dashboard-overview-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-overview {
  width: fit-content;
  padding: 16px 20px;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-overview-wrapper {
  /* width: 285px;
  height: 92px; */
  padding: 0 16px;
  border-right: 1px solid #5f6d7e;
}

.dashboard-overview-wrapper:nth-last-child(1) {
  border-right: none;
}

.dashboard-overview-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.dashboard-overview-title {
  font-weight: 500;
  font-size: 15px;
  color: #5f6d7e;
}

.dashboard-overview-count {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #5f6d7e;
}

.dashboard-overview-footer {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.dashboard-overview-history {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #5f6d7e;
}

.dashboard-overview-status-wrapper {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  gap: 4px;
  border-radius: 8px;
}

.dashboard-overview-status {
  font-weight: 500;
  font-size: 13px;
  color: white;
}

.dashboard-overview-status-wrapper.approved {
  padding: 2px 5px;
  background-color: #169872;
  color: #fff;
}

.dashboard-overview-status-wrapper.pending {
  padding: 2px 5px;
  background-color: #C0F5F9;
  color: #000;
}

.dashboard-overview-status-wrapper.rejected {
  padding: 2px 5px;
  background-color: #fd3d39;
  color: #fff;
}

.dashboard-overview-icon.big {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #252d39;
  color: #fff;
  border-radius: 5px;
}

.dashboard-overview-icon.small {
  width: 15px;
  height: 15px;
}
