/* FORM COMPONENT */

.form-wrapper {
  margin: auto;
}

.title {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  color: #172233;
  margin-bottom: 20px;
}

/* .reset.title {
  text-align: left;
} */

label {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #5f6d7e;
  margin-bottom: 5px;
}

.verification-instruction {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #bfc0c2;
  margin-top: 10px;
  display: block;
}

input {
  display: block;
  width: 380px;
  height: 46px;
  border: 1px solid rgb(235, 232, 232);
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(236, 245, 248);
  transition: border-color 0.3s ease;
  outline: none;
}

.security-question-password-reset,
.security-answer-password-reset {
  color: #0056b3;
  font-size: 14px;
  font-weight: 600;
}

select {
  display: block;
  width: 380px;
  height: 46px;
  border: 1px solid rgb(235, 232, 232);
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(236, 245, 248);
  transition: border-color 0.3s ease;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #5f6d7e;
}

option {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #5f6d7e;
}

input:focus {
  border: 2px solid rgb(179, 179, 247);
}

input::placeholder {
  color: lightgrey;
}

.user_email-wrapper,
.user_password-wrapper,
.user_companyID-wrapper,
.user_question-wrapper,
.user_answer-wrapper {
  margin-bottom: 25px;
}

/* error-messages */

.error-message {
  width: 380px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: red;
  padding: 2px;
}

/* ARROW RIGHT COMPONENT */

.arrow-right {
  width: 22px;
  height: 22px;
  color: #f8f9fb;
}

/* BUTTON COMPONENT */

.button-wrapper {
  width: 380px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  gap: 12px;
  background: #172233;
  border-radius: 10px;
}

.button-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #f8f9fb;
}

.button-wrapper:hover {
  cursor: pointer;
}

/* CASH2GO COMPONENT */

.cash2go-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  left: 19%;
  bottom: 19%;
}

.cash2go-logo1 {
  width: 38px;
  height: 38px;
}

.cash2go-logo2 {
  width: 120px;
  height: 120px;
}

/* LAPTOP COMPONENT */

.laptop-wrapper {
  position: absolute;
  left: 20.7%;
  top: 20%;
  width: 400px;
  height: 300px;
}

.laptop {
  width: 100%;
  height: 100%;
}

/* LAYOUT COMPONENT */

.layout-component {
  display: grid;
  grid-template-columns: 50dvw 50dvw;
  height: 100dvh;
  position: relative;
}

.background {
  height: 100dvh;
  background-image: url(../../../assets/side_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* LINKS COMPONENT */

.links-wrapper {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* LEGAL COMPONENT */

.legal-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.legal {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}

.legal:hover {
  text-decoration: underline;
}

/* QUOTE COMPONENTS */

.quote-wrapper {
  position: absolute;
  left: 18%;
  bottom: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.quotation-mark {
  color: white;
  width: 50px;
  height: 20px;
}

.quote {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  color: white;
  text-align: center;
}

.quote:nth-of-type(1) {
  font-weight: 200;
  margin-bottom: 5px;
}

/* MODAL COMPONENT */

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 735px;
  height: 227px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9ebf1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.modal-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-instruction {
  margin-bottom: 2px;
}

.user-email {
  margin-top: 2px;
  margin-bottom: 8px;
  font-weight: bold;
}

.continue-button {
  background-color: #ff5e00;
  color: #292828;
  margin-top: 15px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 12px;
  font-weight: 600;
}

.continue-button:hover {
  background-color: #0056b3;
}
