.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.input-container{
    border: 1px solid rgb(158, 158, 174);
    border-radius: 4px;
    background-color: rgb(158, 158, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 250px;
}

.otp-field{
    border: 1px solid rgb(19, 61, 19);
    width: 30px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.enter-otp{
    font-size: 20px;
    font-weight: bold;
    margin-left: 80px;
}

p{
    font-size: 12px;
    margin-left: 40px;
}

.click-here{
    margin-left: 70px;
}

.button{
    display:flex;
    gap: 10px;
    width:250px;
    padding-top: 20px;
}
button{
    height: 30px;
    width: 145px;
    border-radius: 4px;
    color: white;
    background-color: rgb(0, 28, 107);
}

.tandc-container{
    display: flex;
    gap: 10px;
    padding-top: 100px;
    color:rgb(83, 83, 121)
}
.here{
    font-weight: bold;
}

