.Application-table-container{
    display: flex;
    justify-content: right;
    margin-top: 50px;
    font-size: 10px;
} 

 .Application-table {
    border-collapse: collapse; 
    border-radius: 10px;
    width: 72%;
    margin-right: 5%;
    font-size: 1.3em;
    background-color: #F7F7F7;
}

.Application-table thead{
    text-align: left;
} 

.Application-table td{
    text-align: center;
}

.Application-table th{
    padding: 18px;
}
 

thead, tr {
    border-bottom: 1px solid #DFDEDE;
}

.Application-image{
    height: 16px;
}

.Application-app-image{
    height: 20px;
    background-color: #252d39;
    color: white;
    border-radius: 50%;
}

.Application-status{
     height: 10px;
}

td .Application-status{
    text-align: center;
}

.Application-approved-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #169872;
    background-color: #169872;
    color: white;
    border-radius: 6px;
    gap:2px;
    width: 50%;
    margin: 0 auto;
}

.Application-rejected-container{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 6px;
    gap:2px;
    width: 50%;
    margin: 0 auto;
}

.Application-pending-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C0F5F9;
    background-color: #C0F5F9;
    color: white;
    border-radius: 6px;
    gap:2px;
    width: 50%;
    margin: 0 auto;
}


.Application-tableHead-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
} 

.Application-name{
    font-weight: bold;
}

.Application-appInfo-container{
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 8px;
} 


.Application-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244%;
    padding: 20px;
}

.Application-pre, .Application-next, .Application-page-no{
    display: flex;
    align-items: center;
}

.Application-page-no{
    display: flex;
    gap: 15px;
    align-items: center;
}



div.Application-next{
    display: flex;
    justify-content: right;
}

/* Heading */
.Application-heading-container{
    display: flex;
    justify-content:center;
    margin-top: 100px;
    width: 65%;
} 


.Application-top-application {
    display: flex;
    gap: 8px;
    padding-bottom: 15px;
}

.Application-viewAll-app{
    font-size: 16px;
}

.Application-middle-application{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:380%;
}

button{
    border: 1px solid Red;
    background-color: red;
    color: white;
    width:150px;
    height: 35px;
    border-radius: 6px;
}

.Application-last-application{
    display: flex;
    padding-top: 20px;
    font-size: 14px;
    align-items: center;
    gap: 16px;
    text-decoration: underline;
}
