.Application-dashboard-content {
  padding: 60px 340px;
  margin-left: 20px;
}

.Application-table {
  margin-top: 50px;
  font-size: 13px;
  border-radius: 10px;
  width: 902px;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: 1px solid #d1d9e2;
  
}

.Application-table tbody tr:nth-child(5) td {
  border-bottom: none;
}

.Application-table th,
.Application-table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #dfdede;
}

.Application-status,
.Application-arrows {
  height: 16px;
}

.Application-app-image {
  width: 32px;
  height: 32px;
  color: white;
  border-radius: 50%;
}

#Application-allApp-container {
  font-size: 18px;
  padding: 20px;
}

#Application-table-applicantinfo {
  padding-left: 30px;
}

.Application-approved-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #169872;
  background-color: #169872;
  color: white;
  border-radius: 6px;
  gap: 2px;
  width: 90px;
  height: 20px;
}

.Application-rejected-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  background-color: red;
  color: white;
  border-radius: 6px;
  gap: 2px;
  width: 90px;
  height: 20px;
}

.Application-pending-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c0f5f9;
  background-color: #c0f5f9;
  color: Black;
  border-radius: 6px;
  gap: 2px;
  width: 90px;
  height: 20px;
}

.Application-tableHead-container {
  display: flex;
  justify-content: space-between;
}

.Application-name {
  font-weight: bold;
}

.Application-applicant-id {
  font-size: 12px;
  color: #5f6d7e;
  margin-left: 2px;
  display: inline-block;
}

.Application-appInfo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.Application-table tbody td {
  padding-left: 30px;
}

.Application-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330%;
  padding: 20px;
}

.Application-pre,
.Application-next,
.Application-page-no {
  display: flex;
}

.Application-page-no {
  display: flex;
  gap: 15px;
  align-items: center;
}

div.Application-next {
  display: flex;
  justify-content: right;
}

/* Heading */
.Application-heading-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  width: 65%;
}

.Application-top-application {
  display: flex;
  gap: 8px;
  padding-bottom: 15px;
}

.Application-viewAll-app {
  font-size: 16px;
}

.Application-middle-application {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380%;
}

.Application-last-application {
  display: flex;
  padding-top: 20px;
  align-items: center;
  gap: 16px;
}

.Application-loanButton {
  border: none;
  background: none;
  font-size: 15px;
  font-weight: 300;
  text-decoration: underline;
}

.Application-loanButton:active {
  margin-top: 10px;
  font-size: 16px;
}
