/* Form */
.errorMsg {
  padding: 5px;
  background-color: burlywood;
  color: red;
  border: none;
}

.hide,
.offscreen {
  display: none;
}

.valid,
.instructions {
  border: 2px;
}

.input-container {
  display: flex;
  margin-bottom: 25px;
}

input {
  display: block;
  margin-bottom: 1px;
  border-radius: 5px;
  width: 380px;
  height: 35px;
  border: 1px solid #5f6d7e;
  padding: 8px;
}

.field-icon {
  position: absolute;
  padding: 10px;
  left: 86%;
  margin-top: 8px;
}

.instructions {
  padding-bottom: 5px;
  margin-top: 0;
  color: red;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.signup-layout {
  display: grid;
  grid-template-columns: 50vw 50vw;
  height: 97vh;
  position: relative;
}

.form-wrapper {
  margin: 8% auto 0;
}

.form-name {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  color: #172233;
  margin-bottom: 20px;
}

.label {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #5f6d7e;
  margin-bottom: 5px;
}

.submit-button {
  width: 398px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  gap: 12px;
  background: #172233;
  border-radius: 10px;
}

.submit-button:disabled {
  background: #afc0db;
  border: #afc0db;
}

.sbtn-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #f8f9fb;
}

/* Modal */
body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 10px 25px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}

.modal-button {
  margin-bottom: 1px;
  padding: 1px;
  width: 20%;
  border-radius: 5px;
  background-color: #fd3d39;
  border-color: #fd3d39;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.black {
  text-align: center;
  color: rgb(100, 98, 98);
}

.big {
  font-size: x-large;
}

/* Icons */
.icon {
  width: 20px;
  height: 20px;
}

.notice-icon {
  width: 40px;
  height: 40px;
  color: rgb(100, 98, 98);
}

.arrow-right {
  width: 22px;
  height: 22px;
  color: #f8f9fb;
}

.check {
  fill: green;
}

.wrong {
  fill: red;
}

/* legal */

.legal-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.legal {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.legal:hover {
  text-decoration: underline;
}

/* Page Layout */
.layout {
  height: 98vh;
  background-image: url(../../../../assets/signup_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 28px;
  top: 0;
}

.iconn {
  position: relative;
  left: 3.5%;
  bottom: -49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 330px;
  color: white;
  opacity: 0.3;
  rotate: 90;
}

.step-row {
  display: flex;
  flex-direction: row;
}
.step-texts {
  display: flex;
  flex-direction: column;
  line-height: 0;
  padding: 0 15px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  gap: 5px;
}

.steps-layout {
  position: absolute;
  left: 26%;
  bottom: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CASH2GO COMPONENT */
.alt_cash2go-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  left: 10%;
  bottom: 23%;
}

.cash2go-logo1 {
  width: 38px;
  height: 38px;
}

.cash2go-logo2 {
  width: 120px;
  height: 120px;
}
